baseURL = "https://sidmulajkar.com/"
title = "> sidmulajkar"
theme = "hugo-coder"
languageCode = "en"
defaultContentLanguage = "en"
paginate = 200
pygmentsStyle = "b2"
pygmentsCodeFences = true
pygmentsCodeFencesGuessSyntax = true
enableEmoji = true
enableRobotsTXT = true
canonifyURLs = true


[params]
author = "Hi, I'm Siddhant Mulajkar!"
description = "A CS Engineer/Educator/Entrepreneur who is passionately curious about technology and shares his valuable insights with the community through his blogs"
keywords = "blog,developer,personal,hacker,javascript blogs,react blogs,development blogs"
info = "A Engineer who is passionately curious about technology. "
avatarURL = "images/sid.png"
#gravatar = "john.doe@example.com"
footerContent = " | PGP Key"
trackingFooter = "gpg/sidmulajkar.asc"
dateFormat = "January 2, 2006"
hideFooter = false
hideCredits = true
hideCopyright = false
since = 2020 
# Git Commit in Footer, uncomment the line below to enable it
# commit = "https://github.com/luizdepra/hugo-coder/tree/"
# Right To Left, shift content direction for languagues such as Arabic
rtl = false
# Specify light/dark colorscheme
# Supported values:
# "auto" (use preference set by browser)
# "dark" (dark background, light foreground)
# "light" (light background, dark foreground) (default)
colorScheme = "dark"
# Hide the toggle button, along with the associated vertical divider
hideColorSchemeToggle = false
# Series see also post count
maxSeeAlsoItems = 5
# Enable Twemoji
enableTwemoji = false
# Custom CSS
customCSS = []
# Custom SCSS
customSCSS = []
# Custom JS
customJS = []



# If you want to implement a Content-Security-Policy, add this section
[params.csp]
childsrc = ["'self'"]
fontsrc = ["'self'", "'unsafe-inline'", "https://fonts.gstatic.com", "https://cdn.jsdelivr.net/"]
formaction = ["'self'"]
framesrc = ["'self'"]
imgsrc = ["'self'"]
objectsrc = ["'self'"]
stylesrc = [
  "'self'",
  "'strict-dynamic'",
  "'unsafe-inline'",
  "nonce-rAnd0m",
  "https://fonts.googleapis.com/",
  "https://cdn.jsdelivr.net/"
]
scriptsrc = ["'self'"
    ]


prefetchsrc = ["'none'"]
# connectsrc = ["'self'", "https://www.google-analytics.com"]

[taxonomies]
category = "categories"
series = "series"
tag = "tags"
author = "authors"

[[params.social]]
name = "Github"
icon = "fa fa-github"
weight = 1
url = "https://github.com/sidmulajkar/"

[[params.social]]
name = "Mail"
icon = "fa fa-envelope-open-o"
weight = 2
url = "mailto:hi@sidmulajkar.com"

[[params.social]]
name = "LinkedIn"
icon = "fa fa-linkedin"
weight = 3
url = "https://www.linkedin.com/in/siddhant-mulajkar/"

[[params.social]]
name = "Rss"
icon = "fa fa-rss-square"
weight = 4
url = "posts/index.xml"

[[params.social]]
name = "Categories"
icon = "fa fa-paperclip"
weight = 5
url = "references/"

[[params.social]]
name = "Categories"
icon = "fa fa-coffee"
weight = 6
url = "support/"



[languages.en]
languageName = ":uk:"

[[languages.en.menu.main]]
name = "About"
weight = 1
url = "about/"

[[languages.en.menu.main]]
name = "Blogs"
weight = 2
url = "posts/"

[[languages.en.menu.main]]
name = "Services"
weight = 3
url = "services/"

[[languages.en.menu.main]]
name = "Privacy 101"
weight = 4
url = "privacyguide/"

[[languages.en.menu.main]]
name = "References"
weight = 5
url = "references/"

[server]
  [[server.headers]]
    for = "/**.html"
    [server.headers.values]
      Content-Security-Policy = "script-src sidmulajkar.com www.sidmulajkar.com"
      Referrer-Policy = "strict-origin-when-cross-origin"
      X-Content-Type-Options = "nosniff"
      X-Frame-Options = "DENY"
      X-XSS-Protection = "1;mode=block"
